@font-face {
  font-family: "walkingdead";
  src: url(../font/BadGrunge.ttf);
}

@keyframes slideout {
  from {
    right: 0%;
  }
  to {
    right: -60%;
    display: none;
  }
}

@keyframes slidein {
  from {
    right: -60%;
  }
  to {
    right: 0%;
  }
}

.buttons {
  padding-bottom: 20px;
}

.shipwars__title {
  --responsive-dimension: clamp(7.5rem, 1rem + 15vw, 15rem);

  font-family: "walkingdead", Brush Script MT, Brush Script Std, cursive;
  position: relative;
  left: 2.5vw;
  width: 100%;
  top: -1rem;
  height: var(--responsive-dimension);
  font-size: var(--responsive-dimension);
  color: #fefefe;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: 9%;
  user-select: none;
}

.shipwars__button {
  display: flex;
  width: 20rem;
  height: 5rem;
  transform: skew(-30deg) translate(-50%, -50%);
  border: 1px solid #fefefe;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  top: 5rem;
  margin-bottom: 3rem;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: x-large;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 0px 5px 7px rgba(128, 128, 128, 0.75);
  user-select: none;
}

.shipwars__button-text {
  transform: skew(30deg);
  opacity: 1;
  font-family: walkingdead;
  font-size: 3.75rem;
  user-select: none;
}

.shipwars__buttons:hover {
  margin-bottom: 2rem;
  height: 6rem;
  width: 22rem;
  user-select: none;
}

.buttons a,
.buttons a:visited {
  color: #fefefe;
  text-decoration: none;
  user-select: none;
}

.shipwars__button:hover {
  background: white;
  transform: scale(1.01) skew(-30deg) translate(-45%, -45%);
  .shipwars__button-text {
    color: black;
    user-select: none;
  }
}

#play-button {
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  background: transparent;
  border: none;
}

#play-button:hover {
  cursor: pointer;
}

.video {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 50%;
  height: 50%;
  z-index: 100;
  transform: scale(0);
}

.video--active {
  transform: scale(1);
}

.btn {
  width: 20rem;
  height: 5rem;
  transform: skew(-30deg) translate(-50%, -50%);
  border: 1px solid #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  top: 5rem;
  margin-bottom: 3rem;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: x-large;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 0px 5px 7px rgba(128, 128, 128, 0.75);
}

.btn-text {
  color: white;
  transform: skew(30deg);
  opacity: 1;
  font-family: walkingdead;
  font-size: 60px;
  user-select: none;
}

.btn:hover {
  background: white;
  transform: scale(1.01) skew(-30deg) translate(-45%, -45%);
  cursor: help;
  .btn-text {
    color: black;
    user-select: none;
  }
}

.container {
  display: grid;
}

#sidebar {
  position: absolute;
  justify-self: stretch;
  height: 100%;
  box-sizing: border-box;
  right: 0;
  top: 0;
  width: 40%;
  padding: 5% 5% 0% 5%;
  margin: 0;
  background-color: white;
  border-radius: 1em 0 0 1em;
  outline: 2px solid black;
  transform: scale(0);
  overflow: hidden;
  color: #fafafa;
  background-color: rgba(68, 68, 68, 0.9);
}

.slide-in {
  transform: scale(1) !important;
  animation-duration: 0.8s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

.slide-out {
  animation-duration: 0.8s;
  animation-name: slideout;
  animation-fill-mode: forwards;
}

.sidebar-text {
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  max-width: 500ch;
  border: 3px solid black;

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.button {
  border: 0.5;
  cursor: pointer;
  background: gray 8;
  color: gray 2;
  font-weight: 700;
  padding: 2px 4px;
}

.button:hover,
.button:focus {
  background: cyan 9;
}

form {
  display: grid;
  gap: 1em;
}

.sidebar-close {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: scale(0);
  width: 50px;
  height: 50px;
  border-radius: 1rem 0 1rem 0;
  background-color: rgb(61, 61, 61, 0.7);
  z-index: 100;
}
.sidebar-close--active {
  transform: scale(1);
}

.sidebar-close:hover {
  cursor: pointer;
}

.homescreen-img {
  width: 500px;
}

.lobbyname {
  width: 400px;
}

.copylink {
  width: 500px;
}

.copied {
  width: 400px;
}

.sendemail {
  width: 400px;
}

.clicktosendemail {
  width: 400px;
}

@media screen and (height < 800px) {
  .shipwars__title {
    left: 4%;
  }
  .shipwars__buttons {
    top: -4rem;
  }
}

@media screen and (max-width: 500px), (max-height: 920px) {
  .shipwars__button {
    width: 18rem;
    height: 3rem;
  }

  .shipwars__button-text {
    font-size: 2.5rem;
  }

  .shipwars__title {
    width: 95%;
  }
}
